section.about#about
	.container
		h2.about__title Спільний проект венчурних фондiв 
			span.bold Adventures Lab 
			| та 
			span.bold Genesis Investments.
		h4.about__subtitle Про що проект
		.about__desc
			p.about__text Adventures Lab та Genesis Investments об'єднали зусилля, щоб сприяти  розвитку стартап-екосистеми в Україні.
			p.about__text Щомісяця, інвестори та залучені ними нішеві експерти зустрічатимуться з відібраними командами для обговорення  їх проектів, надання об’эктивного зворотнього зв’язку та рекомендацій щодо їх подальшого розвитку.
		.about__statistics
			.statistic-item
				span.statistic-item__num 4
				p.statistic-item__text професійні інвестори
			.statistic-item
				span.statistic-item__num 1х1
				p.statistic-item__text персональні зустрічі
			.statistic-item
				span.statistic-item__num 10+
				p.statistic-item__text нішових 
					br
					| експертів