section.about-slider#slider
	.container
		h2.about-slider__title Про проект
		.about-slider__slider
			.about-slider__progress#progress
			.about-slider__for
				.slide-for.active#desc1
					p.slide-for__text Коли засновники стартапів тільки починають свій шлях до багатомільйонної виручки та успіху, їм потрібна підтримка, чесний фідбек та велика кількість ітерацій продукту та бізнес-моделей. Ми сподіваємося, що наш проект стане тою платформою, де кожен засновник отримає ці складові майбутнього успіху та мотивацію будувати великий міжнародний бізнес.
				.slide-for#desc2
					p.slide-for__text Я переконаний, що об’єктивний фідбек від сторонніх професіоналів може зіграти не меншу роль в успіху Early Stage бізнесу, ніж вдала бізнес-ідея, мотивовані фаундери та правильний time to market. 
					p.slide-for__text Метою Hey Pitches! є посилення української екосистеми стартапів та збільшення кількості успішних проектів рівня Reface,  Grammarly чи Preply, які можуть легко конкурувати на глобальному ринку.
				.slide-for#desc3
					p.slide-for__text За 10 років в стартап-індустрії і 10 000 проаналізованих стартапів я помітив, що засновникам проектів дуже часто не вистачає погляду зі сторони – особливо з боку експерта або інвестора з досвідом в цій індустрії. Через це вони топчуться на місці, вибирають неправильну бізнес-модель і в результаті не можуть знайти інвестиції. Ми хочемо це виправити.
			.about-slider__nav
				.slide-nav.active#dot1
					.slide-nav__wrap-photo-border
						.slide-nav__wrap-photo
							img.slide-nav__photo(src="img/slide_nav_1.jpg", alt="Олена Мажуга")
					p.slide-nav__name Олена Мажуга
					p.slide-nav__post Інвестиційний менеджер Genesis Investments
				.slide-nav#dot2
					.slide-nav__wrap-photo-border
						.slide-nav__wrap-photo
							img.slide-nav__photo(src="img/slide_nav_2.jpg", alt="Андрій Криворчук")
					p.slide-nav__name Андрій Криворчук
					p.slide-nav__post Керівний партнер Adventures&nbsp;Lab
				.slide-nav#dot3
					.slide-nav__wrap-photo-border
						.slide-nav__wrap-photo
							img.slide-nav__photo(src="img/slide_nav_3.jpg", alt="Кирило Мазур")
					p.slide-nav__name Кирило Мазур
					p.slide-nav__post CEO Center42 Innovation&nbsp;Agency