section.experts
	.container
		h2.experts__title Експерти
		.experts__list
			.expert
				.expert__wrap-photo-border
					.expert__wrap-photo
						img.expert__photo(src="img/expert_1.png", alt="Наташа Березовська")
				p.expert__name Наташа 
					br
					| Березовська
				p.expert__desc Співзасновник Detonate Ventures та Uangel Ангел&nbsp;Інвестор і підприємець вже більш ніж 20 років
			.expert
				.expert__wrap-photo-border
					.expert__wrap-photo
						img.expert__photo(src="img/expert_2.png", alt="Леонід Подобєдов")
				p.expert__name Леонід 
					br
					| Подобєдов
				p.expert__desc Ангельский інвестор з 2007 року, підприємець, Board Member / Investor в SOC Prime
			.expert
				.expert__wrap-photo-border
					.expert__wrap-photo
						img.expert__photo(src="img/expert_3.png", alt="Олександр Кохановський")
				p.expert__name Олександр 
					br
					| Кохановський
				p.expert__desc Засновник кіберспортивної команди Natus Vincere (NaVi), співзасновник ESForce та&nbsp;першого esports-ready отелю «Днiпро»
			.expert
				.expert__wrap-photo-border
					.expert__wrap-photo
						img.expert__photo(src="img/expert_3.png", alt="Олександр Кохановський")
				p.expert__name Iм’я 
					br
					| Прiзвище
				p.expert__desc Лицо, обладающее специальными знаниями
				