section.faq
	.container
		h2.faq__title Частi питання
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Кому найкраще пiдходить цей проект
					p.question__plus +
				p.question__text.js-info-accordeon Перевагу у відборі отримають проекти із запущеним MVP продукту, наявністю перших клієнтів та доходу.
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Якi стартапи можуть подавати заявки
					p.question__plus +
				p.question__text.js-info-accordeon Зустрічі будуть проводитися з командами, які працюють над стартапами на Pre Seed, Seed, Pre A стадіях.
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Який формат зустрiчі
					p.question__plus +
				p.question__text.js-info-accordeon Невимушена розмова з інвесторами та експертами. На рівних.
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Скiльки триватиме зустрiч
					p.question__plus +
				p.question__text.js-info-accordeon У день зустрічі, стартапи будуть розподілені по слотам. Кожному стартапу ми приділимо по 1 годині.
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Що я можу питати на зустрiчi
					p.question__plus +
				p.question__text.js-info-accordeon Ви можете поставити будь-які запитання, які вас цікавлять. Для того щоб отримати максимум від нашої зустрічі, рекомендуємо заздалегідь підготувати щонайменше 10 запитань.
			.question
				.question__top.js-btn-accordeon
					.question__wrap-ttl
						h3.question__ttl Скiльки коштує зустрiч 
					p.question__plus +
				p.question__text.js-info-accordeon Зустрічі цілком безкоштовні.