section.form-apply
	.container
		h2.form-apply__title Форма участі
		p.form-apply__desc Щоб прийняти участь у відборі проектів для Hey Pitches! достатньо заповнити коротку форму нижче
		button.btn.btn--full.form-apply__btn Подати заявку