header.header
	.container
		.header__wrap-title
			h1.header__title.header__title--top Hey, Pitches!
			p.header__title.header__title--bottom Hey, Pitches!
		p.header__desc Кежуал зустріч з VC, яка здатна змінити ваш бізнес на 
			span.bold ДО 
			| та 
			span.bold ПІСЛЯ
		.header__wrap-btns
			a.header__btn.btn.btn--full(href="#") Подати заявку
			a.header__btn.btn.btn--empty.js-scroll(href="#about") Дiзнатись бiльше