section.info
	.container
		h2.info__title Чого очiкувати вiд зустрiчi
		.info__wrapper
			p.info__text Неформальний стиль переговорів у форматі «всі свої»
			p.info__text Об’єктивний погляд на ваш бізнес та конструктивну критику
			p.info__text Рекомендації щодо поліпшення продукту та окремих процесів
			p.info__text Рекомендації  по залученню інвестицій
			p.info__text Поради щодо вдосконалення презентації та пітчу
