section.investors
	.container
		h2.investors__title Iнвестори
		.investors__list
			.investor.investor--1
				.investor__wrap-photo-border
					.investor__wrap-photo
						img.investor__photo(src="img/investor_1.png", alt="Андрій Криворчук")
				p.investor__name Андрій Криворчук
				p.investor__post Керівний партнер Adventures&nbsp;Lab
				p.investor__desc Підприємець і інвестор з більш ніж 14-річним досвідом у сфері інвестицій та бізнесу
			.investor.investor--2
				.investor__wrap-photo-border
					.investor__wrap-photo
						img.investor__photo(src="img/investor_2.png", alt="Руслан Дроздов")
				p.investor__name Руслан Дроздов
				p.investor__post Партнер 
					br
					| Adventures&nbsp;Lab
				p.investor__desc Інвестор. Менеджер та підприємець із 8-річним досвідом в IT бізнесі
			.investor.investor--3
				.investor__wrap-photo-border
					.investor__wrap-photo
						img.investor__photo(src="img/investor_3.png", alt="Олена Мажуга")
				p.investor__name Олена Мажуга
				p.investor__post Інвестиційний менеджер Genesis&nbsp;Investments
				p.investor__desc Ментор у Startup Wise Guys, працює у сфері інвестицій більш ніж 4 роки
			.investor.investor--4
				.investor__wrap-photo-border
					.investor__wrap-photo
						img.investor__photo(src="img/investor_4.png", alt="Кирило Мазур")
				p.investor__name Кирило Мазур
				p.investor__post CEO и засновник Center42 Innovation Agency
				p.investor__desc Підприємець, інвестор і консультант з венчурних інвестицій та інновацій