section.organizers
	.container
		h2.organizers__title.organizers__title--top Органiзатори
		.organizers__list.organizers__list--top
			.organizer-item.organizer-item--1
				img.organizer-item__photo(src="img/svg/organizer_1.svg", alt="Adventures Lab")
				p.organizer-item__text Adventures Lab — венчурний фонд, який інвестує в українські та білоруські  Early Stage стартапи. Деякі із портфельних компаній: Reface, EduDo, Salo, StreamHero
			.organizer-item.organizer-item--2
				img.organizer-item__photo(src="img/svg/organizer_2.svg", alt="Genesis Investments")
				p.organizer-item__text Genesis Investments — венчурний фонд, який інвестує у Early Stage проекти з України, Білорусі та Прибалтики
		h2.organizers__title.organizers__title--bottom Iнформацiйний партнер
		.organizers__list
			.organizer-item.organizer-item--3
				img.organizer-item__photo(src="img/svg/organizer_3.svg", alt="Center42 Innovation Agency")
				p.organizer-item__text Center42 Innovation Agency — агенція інновацій, який допомагає компаніям масштабувати проекти та запускати нові продукти