section.steps
	.container
		h2.steps__title Як це працює
		.steps__wrapper
			.step-item
				.step-item__wrap-img
					img.step-item__img(src="img/svg/step_item_1.svg", alt="заявка")
				.step-item__info
					p.step-item__ttl Заявка
					p.step-item__desc Ви розповідаєте нам про свій стартап у заявці на сайті
			.step-item
				.step-item__wrap-img
					img.step-item__img(src="img/svg/step_item_2.svg", alt="Вiдбiр")
				.step-item__info
					p.step-item__ttl Вiдбiр
					p.step-item__desc Ми відбираємо проекти, з якими проведемо зустріч
			.step-item
				.step-item__wrap-img
					img.step-item__img(src="img/svg/step_item_3.svg", alt="Запрошення")
				.step-item__info
					p.step-item__ttl Запрошення
					p.step-item__desc Ви отримуєте запрошення на зустріч з інвесторами
			.step-item
				.step-item__wrap-img
					img.step-item__img(src="img/svg/step_item_4.svg", alt="Зустрiч")
				.step-item__info
					p.step-item__ttl Зустрiч
					p.step-item__desc Ви презентуєте свій стартап, задаєте запитання та отримуєте зворотний зв'язок.