.about
	padding-top: 98px
	+r(768)
		padding-top: 82px
	+r(480)
		padding-top: 42px
	&__title
		text-align: center
		font-size: 40px
		line-height: 60px
		position: relative
		padding-top: 40px
		max-width: 1110px
		width: 100%
		margin: auto
		padding-bottom: 85px
		margin-bottom: 90px
		border-bottom: 1px solid  rgba(255, 255, 255, 0.1)
		&::after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			background: $pink
			height: 1px
			width: 70px
		+r(1920)
			font-size: 35px
			line-height: 48px
			max-width: 790px
			padding-bottom: 110px
			margin-bottom: 72px
		+r(1024)
			font-size: 25px
			line-height: 38px
			max-width: 600px
			padding-bottom: 79px
			margin-bottom: 79px
		+r(768)
			font-size: 20px
			line-height: 29px
			max-width: 480px
			padding-bottom: 58px
			margin-bottom: 52px
			&::after
				height: 2px
				width: 50px
		+r(480)
			font-size: 17px
			line-height: 27px
			padding-bottom: 0
			margin-bottom: 80px
			padding-top: 23px
			border-bottom: none
			&::after
				width: 40px
	&__subtitle
		text-align: center
		color: $pink
		font-weight: 500
		font-size: 25px
		line-height: 30px 
		margin-bottom: 50px
		+r(1920)
			font-size: 20px
			margin-bottom: 29px
		+r(1024)
			font-size: 18px
		+r(768)
			font-size: 15px
			margin-bottom: 18px
		+r(480)
			margin-bottom: 20px
	&__desc
		margin-bottom: 80px
		+r(1920)
			margin-bottom: 38px
		+r(1024)
			margin-bottom: 60px
		+r(768)
			margin-bottom: 38px
		+r(480)
			margin-bottom: 31px
	&__text
		font-weight: 500
		font-size: 30px
		line-height: 55px
		+nlt
			margin-bottom: 55px
		+r(1920)
			font-size: 25px
			line-height: 41px
			+nlt
				margin-bottom: 37px
		+r(1300)
			font-size: 22px
			line-height: 36px
			+nlt
				margin-bottom: 32px
		+r(768)
			font-size: 18px
			line-height: 30px
		+r(480)
			font-size: 15px
	&__statistics
		display: flex
		align-items: flex-end
		justify-content: space-between
		+r(480)
			justify-content: flex-start
			flex-wrap: wrap


.statistic-item
	max-width: 230px
	width: 100%
	+r(1920)
		max-width: 270px
	+r(1024)
		max-width: 200px
	+r(768)
		max-width: 160px
	+r(480)
		&:last-of-type
			margin-top: 30px
	+r(374)
		max-width: 140px
	&__num
		color: $pink
		font-weight: bold
		font-size: 120px
		line-height: 100px
		margin-bottom: 11px
		display: block
		+r(1920)
			font-size: 100px
		+r(1024)
			font-size: 80px
			line-height: 1
			margin-bottom: 20px
		+r(768)
			font-size: 60px
			margin-bottom: 10px
	&__text
		font-weight: 500
		font-size: 30px
		line-height: 50px
		+r(1920)
			font-size: 25px
			line-height: 40px
		+r(1024)
			font-size: 22px
			line-height: 36px
		+r(768)
			font-size: 18px
			line-height: 30px