.about-slider
	padding-top: 134px
	background: url('../img/svg/bg_slider.svg') no-repeat center 64px
	+r(1920)
		padding-top: 109px
		background-position-y: 84px
		background-size: 100%
	&__title
		text-align: center
		color: $pink
		font-weight: 500
		font-size: 25px
		line-height: 30px
		margin-bottom: 91px
		+r(1920)
			font-size: 20px
			margin-bottom: 68px
	&__slider
		position: relative
	&__for
		border: 1px solid rgba(255, 255, 255, 0.4)
		border-radius: 15px
		padding: 58px 100px 50px
		min-height: 640px
		+r(1920)
			padding: 58px 70px 50px
			min-height: 590px
			padding-top: 104px
	&__nav
		position: absolute
		bottom: -228px
		left: 50%
		transform: translateX(-50%)
		height: 270px
		display: flex
		+r(1920)
			bottom: -235px
	&__progress
		position: absolute
		bottom: 0
		left: calc(50% - 300px)
		height: 1px
		width: 0
		background: $pink
		width: 0%
		opacity: 1
		&.animate
			opacity: 1
			width: 60%
			transition: all 20s linear
		&.hide
			opacity: 0
		+r(1920)
			left: calc(50% - 220px)
			&.animate
				width: 46%


.slide-for
	opacity: 0
	display: none
	position: relative
	padding-top: 100px
	transition: all .3s
	&::before
		content: '“'
		display: block
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%) scaleX(-1) scaleY(-1)
		font-size: 160px
		line-height: 1
		font-weight: 500
		transform-origin: 50% 19%
		color: $pink
	&.active
		opacity: 1
		display: block
	+r(1920)
		padding-top: 58px
		&::before
			transform-origin: 50% 4%
			font-size: 150px
	&__text
		font-size: 25px
		line-height: 50px
		+r(1920)
			font-size: 22px
			line-height: 40px

.slide-nav
	text-align: center
	cursor: pointer
	transition: all .3s
	width: 237px
	+nlt
		margin-right: 80px
	+r(1920)
		+nlt
			margin-right: 14px
	&.show
		.slide-nav
			&__wrap-photo
				border: 1px solid $pink
	&.active
		.slide-nav
			&__wrap-photo-border
				margin-bottom: 22px
				width: 115px
				height: 115px
				+r(1920)
					width: 100px
					height: 100px
					margin-bottom: 31px
			&__wrap-photo
				box-shadow: 0px 10px 50px #FF006B
				&::before
					content: ''
					display: block
					position: absolute
					width: 115px
					height: 115px
					left: -4px
					top: -7px
					border-radius: 50%
					border: 1px solid $pink
					z-index: -1
				+r(1920)
					&::before
						width: 100px
						height: 100px
			&__name, &__post
				display: block
	&__wrap-photo-border
		text-align: center
		margin: auto
		position: relative
		width: 85px
		height: 85px
		+r(1920)
			width: 70px
			height: 70px
	&__wrap-photo
		width: 100%
		height: 100%
		border-radius: 50%
		overflow: hidden
		display: flex
		justify-content: center
		img
			max-width: 100%
	&__name
		font-weight: 500
		font-size: 22px
		line-height: 30px
		margin-bottom: 5px
		display: none
		+r(1920)
			font-size: 22px
			line-height: 25px
	&__post
		color: $pink
		font-size: 15px
		line-height: 29px
		display: none
		+r(1920)
			line-height: 25px