.about-slider
	padding-top: 134px
	background: url('../img/svg/bg_slider.svg') no-repeat center 64px
	+r(1920)
		padding-top: 109px
		background-position-y: 84px
		background-size: 100%
	+r(1300)
		padding-top: 131px
		background-position-y: 109px
	+r(1024)
		padding-top: 69px
		background-position-y: 51px
	+r(768)
		padding-top: 109px
		background-position-y: 75px
	+r(640)
		padding-top: 81px
		background-position-y: 58px
	&__title
		text-align: center
		color: $pink
		font-weight: 500
		font-size: 25px
		line-height: 30px
		margin-bottom: 91px
		+r(1920)
			font-size: 20px
			margin-bottom: 68px
		+r(1300)
			margin-bottom: 70px
		+r(1024)
			font-size: 18px
		+r(768)
			font-size: 15px
			margin-bottom: 30px
		+r(640)
			margin-bottom: 20px
	&__slider
		position: relative
	&__for
		border: 1px solid rgba(255, 255, 255, 0.4)
		border-radius: 15px
		padding: 58px 100px 50px
		min-height: 640px
		+r(1920)
			padding: 58px 70px 50px
			min-height: 590px
			padding-top: 104px
		+r(1300)
			padding: 58px 100px 50px
		+r(1024)
			padding: 67px 80px 50px
			min-height: 540px
		+r(768)
			padding: 32px 40px 30px
			min-height: 432px
		+r(640)
			padding: 32px 30px 30px
			min-height: 412px
		+r(480)
			padding: 22px 18px 30px
	&__nav
		position: absolute
		bottom: -228px
		left: 50%
		transform: translateX(-50%)
		height: 270px
		display: flex
		+r(1920)
			bottom: -235px
		+r(1024)
			bottom: -160px
			height: 190px
		+r(480)
			bottom: -130px
			height: 150px
	&__progress
		position: absolute
		bottom: 0
		left: calc(50% - 300px)
		height: 1px
		width: 0
		background: $pink
		width: 0%
		opacity: 1
		&.animate
			opacity: 1
			width: 60%
			transition: all 20s linear
		&.hide
			opacity: 0
		+r(1920)
			left: calc(50% - 220px)
			&.animate
				width: 46%
		+r(860)
			&.animate
				width: 58%
				transition: all 14s linear
		+r(768)
			left: calc(50% - 120px)
			&.animate
				width: 42%
		+r(480)
			&.animate
				width: 64%
.slide-for
	opacity: 0
	display: none
	position: relative
	padding-top: 100px
	transition: all .3s
	&::before
		content: '“'
		display: block
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%) scaleX(-1) scaleY(-1)
		font-size: 160px
		line-height: 1
		font-weight: 500
		transform-origin: 50% 19%
		color: $pink
	&.active
		opacity: 1
		display: block
	+r(1920)
		padding-top: 58px
		&::before
			transform-origin: 50% 4%
			font-size: 150px
	+r(1024)
		&::before
			font-size: 120px
			transform-origin: 50% 13%
	+r(768)
		&::before
			font-size: 110px
			transform-origin: 50% 18%
	+r(480)
		padding-top: 35px
		&::before
			font-size: 70px
	&__text
		font-size: 25px
		line-height: 50px
		+r(1920)
			font-size: 22px
			line-height: 40px
		+r(1024)
			line-height: 38px
		+r(768)
			font-size: 18px
			line-height: 30px
		+r(640)
			font-size: 15px
			line-height: 25px

.slide-nav
	text-align: center
	cursor: pointer
	transition: all .3s
	width: 237px
	+nlt
		margin-right: 80px
	+r(1920)
		+nlt
			margin-right: 14px
	+r(1024)
		width: 190px
	+r(768)
		width: 135px
	+r(480)
		width: 115px
		+nlt
			margin-right: 0
	+r(374)
		width: 95px
	&.show
		.slide-nav
			&__wrap-photo
				border: 1px solid $pink
	&.active
		.slide-nav
			&__wrap-photo-border
				margin-bottom: 22px
				width: 115px
				height: 115px
				+r(1920)
					width: 100px
					height: 100px
					margin-bottom: 31px
				+r(1024)
					width: 81px
					height: 81px
					margin-bottom: 22px
				+r(768)
					margin-bottom: 9px
				+r(480)
					width: 57px
					height: 57px
			&__wrap-photo
				box-shadow: 0px 10px 50px #FF006B
				&::before
					content: ''
					display: block
					position: absolute
					width: 115px
					height: 115px
					left: -4px
					top: -7px
					border-radius: 50%
					border: 1px solid $pink
					z-index: -1
				+r(1920)
					&::before
						width: 100px
						height: 100px
				+r(1024)
					&::before
						width: 81px
						height: 81px
				+r(480)
					&::before
						width: 57px
						height: 57px
			&__name, &__post
				display: block
	&__wrap-photo-border
		text-align: center
		margin: auto
		position: relative
		width: 85px
		height: 85px
		+r(1920)
			width: 70px
			height: 70px
		+r(1024)
			width: 60px
			height: 60px
		+r(480)
			width: 40px
			height: 40px
	&__wrap-photo
		width: 100%
		height: 100%
		border-radius: 50%
		overflow: hidden
		display: flex
		justify-content: center
		img
			max-width: 100%
	&__name
		font-weight: 500
		font-size: 22px
		line-height: 30px
		margin-bottom: 5px
		display: none
		+r(1920)
			font-size: 22px
			line-height: 25px
		+r(1300)
			font-size: 20px
			line-height: 29px
		+r(1024)
			font-size: 17px
		+r(768)
			font-size: 15px
		+r(480)
			font-size: 14px
		+r(374)
			line-height: 1.2
	&__post
		color: $pink
		font-size: 15px
		line-height: 29px
		display: none
		+r(1920)
			line-height: 25px
		+r(1024)
			font-size: 14px
		+r(768)
			font-size: 13px
			line-height: 18px
		+r(480)
			font-size: 12px
			line-height: 14px
		+r(374)
			font-size: 10px