body
	font-family: $font
	font-size: 20px
	color: white
	background: url('../img/svg/bg_header.svg') no-repeat center top, url('../img/bg_body_bottom.png') no-repeat center bottom
	background-color: #1B1824
	overflow-x: hidden
	+r(1920)
		background-size: 1680px
	+r(640)
		background: url('../img/svg/bg_header_480.svg') no-repeat center -57px, url('../img/svg/bg_body_bottom_640.svg') no-repeat center bottom
		background-color: #1B1824
html
	overflow-x: hidden

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block
.container
	width: 1270px
	margin: 0 auto
	+r(1920)
		width: 970px
	+r(1680)
		width: 970px
	+r(1024)
		width: 800px
	+r(860)
		width: 700px
	+r(768)
		width: 580px
	+r(640)
		width: 100%
		padding: 0 18px


.bold
	font-weight: bold

.btn
	cursor: pointer
	display: block
	text-decoration: none
	outline: none
	color: white
	font-weight: bold
	font-size: 20px
	line-height: 25px
	max-width: 100%
	width: 100%
	border-radius: 50px
	padding: 17px
	text-align: center
	transition: all .3s
	border: none
	&--full
		background: $pink
		&:hover
			background: #FF27A9
			box-shadow: 0px 12px 35px rgba(255, 0, 107, 0.5)
		&:active
			background: #CC00FF
	&--empty
		background: rgba(255, 255, 255, 0.01)
		border: 1px solid #FFFFFF
		&:hover
			background: #FF006B
		&:active
			background: #FF27A9
	+r(1024)
		padding: 14px
		font-size: 17px
	+r(768)
		padding: 12px
		font-size: 16px