.form-apply
	text-align: center
	padding-bottom: 189px
	padding-top: 147px
	+r(1920)
		padding-top: 151px
		padding-bottom: 129px
	+r(1440)
		padding-top: 158px
		padding-bottom: 167px
	&__title
		color: $pink
		font-weight: 500
		font-size: 25px
		line-height: 30px
		margin-bottom: 48px
		+r(1920)
			font-size: 20px
	&__desc
		font-weight: 500
		font-size: 30px
		line-height: 50px
		margin-bottom: 53px
		+r(1920)
			font-size: 25px
			line-height: 40px
			max-width: 860px
			width: 100%
			margin: auto
			margin-bottom: 73px
	&__btn
		max-width: 360px
		margin: auto
		font-size: 22px