.header
	padding-top: 162px
	padding-bottom: 100px
	&__wrap-title
		position: relative
		margin-bottom: 44px
	&__title
		text-align: center
		font-family: $font
		font-weight: 800
		font-size: 150px
		line-height: 183px
		&--bottom
			position: absolute
			left: 129px
			bottom: -8px
			color: transparent
			-webkit-text-stroke: 2px white
	&__desc
		text-align: center
		font-size: 30px
		line-height: 45px
		max-width: 830px
		width: 100%
		margin: auto
		margin-bottom: 60px
	&__wrap-btns
		display: flex
		align-items: center
		justify-content: center
	&__btn
		max-width: 360px
		+nlt
			margin-right: 30px