$blue: #00B2FF
$yellow: #FFC940
$purple: #FA00FF

.investors
	padding-top: 117px
	padding-bottom: 143px
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		top: -381px
		left: calc(50% - 1134px)
		width: 2260px
		height: 1627px
		background: url('../img/bg_investors.png') no-repeat center
		pointer-events: none
		z-index: -1
	+r(1920)
		padding-top: 149px
		&::before
			background-size: 80%
			top: -336px
			left: calc(50% - 1160px)
	+r(1440)
		padding-top: 89px
		&::before
			top: -424px
			left: calc(50% - 1153px)
	+r(1300)
		padding-bottom: 160px
	+r(1024)
		padding-top: 47px
		padding-bottom: 125px
		&::before
			top: -464px
			left: calc(50% - 1139px)
			background-size: 61%
	+r(768)
		padding-top: 57px
		padding-bottom: 109px
		background: url('../img/bg_investors_768.png') no-repeat calc(50% - -37px) -20px
	+r(640)
		background-size: cover
	+r(480)
		padding-top: 49px
		padding-bottom: 53px
	.container
		width: 1470px
		+r(1920)
			width: 1135px
		+r(1300)
			width: 100%
			padding: 0 62px
		+r(1024)
			padding: 0 32px
		+r(768)
			width: 580px
			padding: 0
		+r(640)
			width: 100%
			padding: 0 18px
	&__title
		text-align: center
		color: $pink
		font-weight: 500
		font-size: 25px
		line-height: 30px
		margin-bottom: 79px
		+r(1920)
			font-size: 20px
		+r(1024)
			font-size: 18px
			margin-bottom: 80px
		+r(768)
			font-size: 15px
			margin-bottom: 52px
	&__list
		display: flex
		flex-wrap: wrap
		+r(768)
			justify-content: center


.investor
	max-width: 300px
	width: 100%
	text-align: center
	&:not(:nth-child(4n))
		margin-right: 85px
	&:nth-of-type(n+5)
		margin-top: 60px
	&--1
		.investor
			&__post
				color: $pink
			&__wrap-photo
				&::before
					border: 1px solid $pink
	&--2
		.investor
			&__post
				color: $blue
			&__wrap-photo
				&::before
					border: 1px solid $blue
	&--3
		.investor
			&__post
				color: $yellow
			&__wrap-photo
				&::before
					border: 1px solid $yellow
	&--4
		.investor
			&__post
				color: $purple
			&__wrap-photo
				&::before
					border: 1px solid $purple
	+r(1920)
		max-width: 235px
		&:not(:nth-child(4n))
			margin-right: 64px
	+r(1300)
		max-width: 23%
		&:not(:nth-child(4n))
			margin-right: 24px
	+r(1024)
		&:not(:nth-child(4n))
			margin-right: 21px
	+r(860)
		max-width: 48%
		&:not(:nth-child(4n))
			margin-right: 0
		&:nth-of-type(odd)
			margin-right: 20px
		&:nth-of-type(n+5)
			margin-top: 0
		&:nth-of-type(n+3)
			margin-top: 50px
	+r(768)
		max-width: 230px
		&:nth-of-type(odd)
			margin-right: 80px
	+r(640)
		max-width: 45%
		&:nth-of-type(odd)
			margin-right: 30px
	+r(480)
		text-align: left
	+r(374)
		&:nth-of-type(odd)
			margin-right: 22px
	&__wrap-photo-border
		text-align: center
		margin: auto
		margin-bottom: 29px
		position: relative
		width: 256px
		height: 256px
		+r(1920)
			width: 230px
			height: 230px
		+r(1300)
			width: 85%
			height: auto
		+r(1024)
			width: 88%
			margin-bottom: 17px
		+r(860)
			width: 230px
			height: 230px
		+r(768)
			margin-bottom: 24px
		+r(640)
			width: 180px
			height: 180px
		+r(480)
			width: 118px
			height: 118px
			margin-left: 0
			margin-bottom: 10px
	&__wrap-photo
		width: 100%
		height: 100%
		overflow: hidden
		border-radius: 50%
		background: #332659
		display: flex
		justify-content: center
		align-items: flex-end
		&::before
			content: ''
			display: block
			position: absolute
			width: 256px
			height: 256px
			right: -5px
			bottom: -9px
			border-radius: 50%
			z-index: -1
		+r(1920)
			&::before
				width: 230px
				height: 230px
		+r(1300)
			&::before
				width: 100%
				height: 100%
		+r(480)
			&::before
				bottom: -6px
	&__photo
		+r(1920)
			max-width: 100%
	&__name
		font-weight: bold
		font-size: 25px
		line-height: 30px
		margin-bottom: 17px
		+r(1920)
			font-size: 20px
		+r(1024)
			font-size: 17px
			margin-bottom: 12px
		+r(768)
			margin-bottom: 8px
		+r(480)
			line-height: 26px
			width: 86%
	&__post
		font-weight: 500
		font-size: 18px
		line-height: 27px
		margin-bottom: 14px
		+r(1920)
			font-size: 16px
			line-height: 22px
			margin-bottom: 21px
		+r(1024)
			font-size: 14px
			line-height: 22px
			margin-bottom: 14px
		+r(768)
			margin-bottom: 10px
		+r(480)
			font-size: 13px
			line-height: 20px
			margin-bottom: 7px
	&__desc
		font-weight: 500
		font-size: 18px
		line-height: 28px
		+r(1920)
			font-size: 16px
		+r(1024)
			font-size: 15px
			line-height: 25px
		+r(480)
			font-size: 14px
			line-height: 24px